body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.display-flex{
    display: flex;
}
h1{
    font-size: 40px;
    font-weight: 900;
}
h2{
    font-size: 30px;
}
.header-content{
    width: 50%;
    margin-top: 30px;
    padding: 10%;
}
.header-content p{
    margin-bottom: 40px;
}
.header-image{
    width: 50%;
}
.header-image img{
    height: 75%;
    margin-top: 40px;
}
.orange-color{
    color: orange;
}
.white-color{
    color: white;
}
.link-button{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-image: linear-gradient(orange,salmon);
    border-radius: 30px;
}
.download-app{
    background-color: tomato;
}
.download-app img{
    border-radius: 10px;
    padding-bottom: 10px;
}
.download-app p{
    margin-bottom: 50px;
}
.app-download-button{
    text-decoration: none;
    color: tomato;
    background-color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 30px;
}
.about-me{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}
.half-width{
    width: 50%;
    padding-left: 13%;
    padding-right: 10%;
    padding-top: 5%;
}
.half-width img{
    height: 100%;
}
#about-me-content{
    margin-top: 60px;
}
#about-me-content p{
    margin-bottom: 60px;
}
.our-features{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
}
.our-features img{
    width: 320px;
}
.our-features p{
    width: 318px;
}
.recipes{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    margin-top: 100px;
}
.recipe-card{
    width: 305px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.recipe-card img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.recipe-card p{
    width: 295px;
    text-align: left;
}
.followers-section{
    width: 90%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.followers{
    padding: 3%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
}
footer{
    background-color: black;
    margin-top: 120px;
}
.footer{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5%;
}
.copyright{
    color: white;
    background-color: rgb(47, 47, 214);
    text-align: center;
    padding: 5px;
}
